






body {
background-image: url("images/background-8.jpeg");

}


.band-scroll {
    
   padding-top: 40px;
  margin-top: -40px;
  display: inline-block;
}


.band-image {
	width:15%;
}

.bands-section {
	min-height: 100vh;
    /*width: 80%;*/
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.title {
	font-size: 1rem;
	margin: 5rem 0rem 0rem;
}

.faq {
	width: 65vw;
    margin: 1rem;
    padding: 1rem;
    /*border-bottom: 2px solid #fff;*/
    cursor: pointer;
    background-color: #2a2a2acc;
}

.question {
	display: flex;
    /* flex-direction: column; */
    justify-content: initial;
    align-items: center;
}

.question h3 {
	font-size: 1rem;
	margin-right: 3rem;
	margin-left: 1rem;
}

.band-details {
	display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.answer {
	max-height: 0;
	overflow: hidden;
	transition: max-height 1.9s ease;
}

.answer p {
	padding: 1rem 0 2rem;
	line-height: 1.5rem;
	font-size: .8rem;
}

.faq.active .answer {
	max-height: 300px;
}





@media(max-width: 768px) {
	.band-image {
	width:20%;
}
	.faq {
	width: 85vw;
    margin: 1rem;
    padding: 1.5rem 1rem;
    /*border-bottom: 2px solid #fff;*/
    cursor: pointer;
    background-color: #2a2a2acc;
	}

	.question h3 {
	font-size: .8rem;
	}

	.answer p {
	padding: 1rem 0 2rem;
	line-height: 1.5rem;
	font-size: .8rem;
	}

	.bands-section {
	min-height: unset;
    margin: 0 auto;
    padding: 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
	}


}

