

.news-section {
    margin-top: 8rem;
    flex-direction: column;

}


.news-image {
	width: 40%;
    margin: 0 auto;
    display: flex;
    -moz-box-shadow: 0px 0px 39px #ffffff69;
    -webkit-box-shadow: 0px 0px 39px #ffffff69;
    box-shadow: 0px 0px 39px #ffffff69;

}

.listen-now {
    background: #3c5d47;
    padding: .5rem 2rem;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s;
    border: none;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.listen-now:hover {
    background-color: #3ca05e;
}

.image-crop {
	/*height: 58vh;*/
    /*overflow: hidden;*/
    /*border-bottom: 2px solid #ffffff61;*/
    /*transition: 1s;*/
}

/*.image-crop:hover {
	height: 52vh;
	
}*/

.news-text {
	font-size: 1rem;
    padding: 2rem 0;
    text-align: center;
    width: 85vw;
    margin: 0 auto;
}



.news-row {
	/*display: inline-block;*/
    /*width: 50%;*/
    /*margin-bottom: 5rem;*/
    position: relative;
    top: -1rem;
}


.listen-button {
    background-color: red;
}


.news-rune-section {
    display: flex;
    margin-top: -4px;
    /*flex-direction: row;
    padding: 2rem 1rem .5rem 1rem;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: .5rem;
    justify-content: center;
    border-bottom: 2px solid #ffffff61;*/
}

.news-rune-line {
    font-size: 0;
    height: 0px;
    line-height: 0;
    width: 50%;
    border-bottom: 2px solid #ffffff61;
    /* margin: .8rem .8rem; */
    /* border-bottom: 2px solid white; */
    margin-top: .9rem;
}



@media(max-width: 768px) {
    .news-text {
        font-size: .8rem;
        padding: 1.5rem 0 1.5rem;
    }

    .news-image {
        width: 65vw;
    }

    .listen-now {
        background: #3c5d47;
        padding: 0.3rem 1.3rem;
        color: #fff;
        cursor: pointer;
        text-transform: uppercase;
        position: relative;
        transition: 0.5s;
        border: none;
        text-align: center;
        margin: 0 auto;
        display: block;
        font-size: 0.6rem;
}


}






