/*.header {
	display: flex; 
	align-content: center; 
	justify-content: center; 
	flex-direction: column; 
	text-align: center;
	color: #9E9E9E
}*/


/** {
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
}*/










html {
	scroll-behavior: smooth;
}


nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 8vh;
	font-family: 'Oswald', sans-serif;
	background-color: black;
	opacity: 0.92;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 50%;
}

.nav-links li {
	list-style: none;
}

.nav-links a {
	color: rgb(226, 226, 226);
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
}

.burger {
	display: none;
	cursor: pointer;
	padding: 20px;
}

.burger div {
	width: 25px;
	height: 3px;
	background-color: rgb(226, 226, 226);
	margin: 5px;
	transition: all 0.3s ease;
}

.logo {
	width: 5rem;
	float: left;
	padding: 15px;
	margin-left: 20px;
	z-index: 2;
}

.div-style {
	margin: 8rem;
}

.body {
	background-color: black;
	color: #F1F1F1;
	margin: 0;
	font-family: 'Oswald', sans-serif;
}

.background-image {
	background-size: 100% 25%;
	position: fixed; 
	z-index: -1; 
	opacity: .2; 
	margin-top: -4.5rem;
}

.hr {
	border border-style: none;
}

.band-list {
	display: flex;
	flex-direction: column;
	margin-left: 15%;
}

.band-list-item {
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-footer {
	background: #00000078;
	padding: 1rem;
	position: relative;
	z-index: 10;
	border-top: 2px solid #ffffff61;

}

.main-footer .container {
	justify-content: space-between;
}

.main-footer .col {
	text-align: center;
	/*font-family: "p22-underground",sans-serif;*/
	font-weight: 600;
	font-size: 12px;
	/*margin: 0 0 8px 0;*/
	list-style-type: none;
	color: white;
}

.bandcamp-link {
	margin-left: 85%;
}

.container {
	display: -webkit-box;
	display: flex;
	margin: 0 auto;
	max-width: 1000px;
	width: 90%;
}

.news-date {
	position: absolute;
	bottom: 40%;
	left: 16px;
}

.news-container {
	position: relative;
	text-align: left;
	color: white;
	margin-top: 97px;
	z-index: -1;
}

.info-style {
	align-items: center;
    display: flex;
    flex-direction: column;
    width: 65vw;
    margin: 0rem auto;
}

.info-style p {
	max-width: 80vh;
    text-align: center;
}

.info-style h2 {
	padding: 2rem;
}

.info-logo {
	width: 30%; 
	margin:4rem 0rem;
}

.studio-image {
	width: 100%;
}


#content-desktop {
	display: block;
}

#content-mobile {
	display: none;
}

a {
	color: white;
	text-decoration: none;
}

@media screen and (max-width: 1024px) {
	.nav-links {
		width: 60%;
	}
	.news-date {
		position: absolute;
		bottom: 40%;
		left: 16px;
	}

	.background-image {
		background-size: 100% 25%;
		position: fixed; 
		z-index: -1; 
		opacity: .2; 
		margin-top: -4.5rem;
	    left: -20rem;
	}
}

@media(max-width: 768px) {
	#content-desktop {
		display: none;
	}
	#content-mobile {
		display: block;
	}
	/*body {
		overflow-x: hidden;
	}*/
	.nav-links {
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 8vh;
		background-color: black;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		transform: translateX(100%);
		transition: transform .5s ease-in;
	}
	.nav-links li {
		opacity: 0;
	}
	.burger {
		display: block;
	}

	.background-image {
		background-size: 100% 25%;
		width: unset;
		position: fixed; 
		z-index: -1; 
		opacity: .2; 
		margin-top: -4.5rem;
	    left: -20rem;
	}


	.news-date {
		position: absolute;
		bottom: 15%;
		left: 16px;
	}
	.band-list {
		display: flex;
		flex-direction: column;
		margin-left: 45%;
	}
	.band-list-item {
		display: flex;
		flex-direction: column;
	}
	.div-style {
		margin: none;
	}

	.info-style {
		 width: 85vw;
	}

	.info-style p {
		max-width: 75vw;
	    text-align: center;
	    margin-bottom: 2rem;
	    padding: 1rem 0 1rem;

	}

	.info-logo {
		width: 30%; 
		margin:1rem 0rem;
	}

	.bandcamp-link {
		margin-left: 0;
	}

	.container {
		all: unset;
	}

	.main-footer .col {
		padding: .5rem 0 .5rem;
	}

	.studio-image {
		width: 100%;
		padding: 0 0 1rem;
}

}

.nav-active {
	transform: translateX(0%);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}